<%- include('./partials/header.ejs') -%>
    <%- include('./partials/mainnav.ejs') -%>
        <section class="about-area" id="#contact">
            <div class="text-part">
            </div>

            <!----About Me Box-->
            <div class="about-container">
                <!-----img----->
                <img src="Content/my.jpg" alt="me">
                <div class="about-text">
                    <p>About Me</p>
                    <p>Web Developer & Software Engineer </p>
                    <p>Hello, My name is Aiturgan Suiunbai kyzy. I am a starting Web Developer and also Sofware Engineer. If you have plans and ideas for your future project and do not know how to build a website or make a software for your bussiness contact
                        me. Customer's satisfaction is always comes first when I do my job. If you do not like the version of the project, I change it until it meets your requirements and will like it. Willing to go from beginning to successful finih
                        of your project. the project untill done.</p>
                    <button type="submit" onclick="window.location='/contacts';" id="hireButton">Hire Me</button>
                    <button type="submit " id=" viewCv ">View CV</button>

                    <p></p>
                </div>
            </div>

        </section>








        <%- include('./partials/bottomnav.ejs') -%>
            <%- include('./partials/footer.ejs') -%>