
<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>
 <main class="container">
<div class="raw">
<div class="column">

 <section class="contact-area" id="#contact">
  <div class="text-part">
    <h1 class="display-4">Contact Us</h1> 
    <h2>Hello I am Aiturgan Suiunbai kyzy. 
      I am a professional Web Developer from Ontario, Toronto ;
  </div>
</section>
</div>
</div>
</main>
 
<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>

