
<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>
 

<section class="home-area" id="/"></section>
 <section class="about-area" id="#about">
  <div class="text-part">
    <h1>About Area</h1> 
    <p>Hello I am Aiturgan Suiunbai kyzy. 
      I am a programmer from Toronto Ontario ;
      ldakfmnbov'eidmb pdmbp q;oeijngvoenv qelkmg kwejnvkejnvkqejnvejnvenvoen
    ekljrngiewjnrgv;kjewnv;kejwnv;oekjunbv;eon
  ek fviej nv;kej v;ekjrnvej;k f;owncsmv jbvlw v;wenvlwe v qkenrvkejnvrjn</p>
  </div>
</section>
 
<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>

