<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section-->
  <link rel="stylesheet" href="/bootstrap//dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome//css/font-awesome.min.css">
  <link rel="stylesheet" href="Content/app.css">

  
</head>
<body>
  <div class="container"></div>
  <nav class="navbar">
    <a href="#" class="logo">Aiturgan</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contacts">Contacts</a></li>
     </ul>
    </nav>
 <section class="home-area" id="/"></section>
 <section class="about-area" id="#about">
  <div class="text-part">
    <h1>About Area</h1> 
    <p>Hello I am Aiturgan Suiunbai kyzy. 
      I am a programmer from Toronto Ontario ;
      ldakfmnbov'eidmb pdmbp q;oeijngvoenv qelkmg kwejnvkejnvkqejnvejnvenvoen
    ekljrngiewjnrgv;kjewnv;kejwnv;oekjunbv;eon
  ek fviej nv;kej v;ekjrnvej;k f;owncsmv jbvlw v;wenvlwe v qkenrvkejnvrjn</p>
  </div>
</section>
 <section class="services-area" id="#services">
  <div class="text-part">
    <h1>Projects Area</h1> 
    <p>Hello I am Aiturgan Suiunbai kyzy. 
      I am a programmer from Toronto Ontario ;
      ldakfmnbov'eidmb pdmbp q;oeijngvoenv qelkmg kwejnvkejnvkqejnvejnvenvoen
    ekljrngiewjnrgv;kjewnv;kejwnv;oekjunbv;eon
  ek fviej nv;kej v;ekjrnvej;k f;owncsmv jbvlw v;wenvlwe v qkenrvkejnvrjn</p>
  </div>
</div>
</section>
 <section class="projects-area" id="#projects">
  <div class="text-part">
    <h1>Services Area</h1> 
    <p>Hello I am Aiturgan Suiunbai kyzy. 
      I am a programmer from Toronto Ontario ;
      ldakfmnbov'eidmb pdmbp q;oeijngvoenv qelkmg kwejnvkejnvkqejnvejnvenvoen
    ekljrngiewjnrgv;kjewnv;kejwnv;oekjunbv;eon
  ek fviej nv;kej v;ekjrnvej;k f;owncsmv jbvlw v;wenvlwe v qkenrvkejnvrjn</p>
  </div>
</section>
 <section class="contacts-area" id="#contacts">
  <div class="text-part">
    <h1>Contacts Area</h1> 
    <p>Hello I am Aiturgan Suiunbai kyzy. 
      I am a programmer from Toronto Ontario ;
      ldakfmnbov'eidmb pdmbp q;oeijngvoenv qelkmg kwejnvkejnvkqejnvejnvenvoen
    ekljrngiewjnrgv;kjewnv;kejwnv;oekjunbv;eon
  ek fviej nv;kej v;ekjrnvej;k f;owncsmv jbvlw v;wenvlwe v qkenrvkejnvrjn</p>
  </div>
</section>
  <!-- JavaScrypt Section -->
<script src="jquery/dist/jquery.min.js "></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="Scripts/app.js"></script>
</body>
</html>
