<%- include('./partials/header.ejs') -%>
    <%- include('./partials/mainnav.ejs') -%>

        <section class="projects-area" id="/projects">
            <main>

                <body>
                    <div class="work">
                        <div class="text-container"></div>
                        <h1>My Projects</h1>
                        <img src="Content/contact.jpg" id="i1" alt="project img 1"> </div>

                </body>aa
            </main>
            <%- include('./partials/bottomnav.ejs') -%>
                <%- include('./partials/footer.ejs') -%>