<%- include('./partials/header.ejs') -%>
    <%- include('./partials/mainnav.ejs') -%>
        <main>

            <section class="services-area">
                <div class="services-text">
                    <p>About Our Services</p>
                    <p>Web Development & Web Design & Software Engineer</p>
                    <p>1. Web Development certainly has a very high importance today, primarily because of the sheer size of the Internet. The number of online users is increasing at an astronomical rate every year, so HTML, CSS and Javascript have become
                        a sort of lingua-pura in the programming world. From small online shopping stores to large companies use websites all in their own purposes. If you have ideas and don't know where to start contact us<br><br> 2. Software Engineering
                        Itcomes as no surprise that software engineering involves significant cognitive effort. To take all aspects of software and come up with a finished product, it requires an interdisciplinary endeavor: from the requirement analysis
                        to the specification, to the design, to the code, to the testing, to the evaluation, and the maintenance. Software engineering uses computer science to devise and analyze algorithms, engineering tools to build infrastructures,
                        and management techniques to define trade-offs, risks, to oversee personnel, and monitor progress So if you have project on your mind that you do not know how to do and where to start you can contact and consult us</p>
                </div>

            </section>
        </main>

        <%- include('./partials/bottomnav.ejs') -%>
            <%- include('./partials/footer.ejs') -%>